.input-data-container {
    border: 1px solid #93e2e7;
    height: 30px;
    border-radius: 5px;
    box-shadow: inset 0px 0px 5px #d8d9d9;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}