.input-data-container {
    border: 1px solid #93e2e7;
    height: 30px;
    border-radius: 5px;
    box-shadow: inset 0px 0px 5px #d8d9d9;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.submit-action {
    background: #4285f4;
    color: #fff;
    font-weight: bold;
}

.numeric-act {
    background: #f1f3f4;
}

.numeric-act-night {
    background: rgb(43 57 97 / 44%);
}

.operator-act {
    background: #dadce0;
}
.opreator-act-night {
    background: #173d44;
}